@page
@model IndexModel
@{
    ViewData["Title"] = "Meus Jogos";
}


<div class="text-center">
    <h1 class="display-4">Bem vindo a Game Page</h1>
    @{    
        int pag, quant;

        if (Request.Query.ContainsKey("pagina") && Int32.Parse(Request.Query["pagina"].ToString()) > 0)
            pag =Int32.Parse( Request.Query["pagina"].ToString());
        else
            pag = 1;

        if (Request.Query.ContainsKey("quantidade") && Int32.Parse(Request.Query["quantidade"].ToString()) > 0)
            quant = Int32.Parse(Request.Query["quantidade"].ToString());
        else
            quant = 5;

        
        Service.DataService dataService = new Service.DataService();

        var gameList = dataService.GetJogosAsync(pag).Result;//result retorna o resultado da task
        int x = 0;
        while (x < gameList.Count)
        {
            <div class="card-deck mb-2">

                @{
                    int y = 0;
                    while (y < 3 && (x < gameList.Count))
                    {
                        <div id="@gameList[x].Id" class="card" style="max-width: 336px;">
                            <img class="card-img-top" src="@Html.Raw($"http://source.unsplash.com/random/200x200?r={x}")" alt="imagem meramente ilustrativa">
                            <div class="card-body">
                                <h5 class="card-title">@gameList[x].Nome</h5>
                                <p class="card-text">Jogo desenvolvido pela @gameList[x].Produtora.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-success">R$ @($"{gameList[x].Preco:.00}") </li>
                            </ul>
                            <div class="card-body">
                                <a href="/AlterarJogo?id=@gameList[x].Id" class="btn btn-outline-secondary">Alterar</a>
                                <a href="/delete?id=@gameList[x].Id" class="btn btn-danger">&#x1F5D1</a>



                            </div>
                        </div>


                        x++;
                        y++;
                    }

                }

            </div>


        }
        
        <nav aria-label="Navegação de página exemplo">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="?pagina=@(pag -1)" tabindex="-1">Anterior</a>
                </li>
                <li class="page-item"><a class="page-link" href="?pagina=@(pag -1)">@(pag -1)</a></li>
                <li class="page-item"><a class="page-link" href="?pagina=@pag">@pag</a></li>
                <li class="page-item"><a class="page-link" href="?pagina=@(pag +1)">@(pag +1)</a></li>
                <li class="page-item">
                    <a class="page-link" href="?pagina=@(pag +1)">Próximo</a>
                </li>
            </ul>
        </nav>
    }
</div>
